*{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #1b74e4;
}
.btnLogin{
    background-color: aqua;
}
.btnRegister{
    background-color: aqua;
}
.btnSearch{
    background-color: black;
    color: white;
}