h1{
    color: #ff0000;
    background-color: aqua;
}
button:hover{
    background-color: #ff0000;
    color: white;
}
.btnLogin:active{
    background-color: green;
    color: white;
}
h1::first-letter{
    color: black;
}
*::selection{
    background-color: rgb(241, 241, 186);
}